@media screen and (max-width: 768px) {
    a[href] {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

}







