body {
    background: lightgray;
}
.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 9px solid white;
    align-items: center;
    justify-content: center;
    text-decoration-color: white;
}
.circle-text {
    color: white;
}
P {
    padding-top: 80px;
    text-align: center;
}
.circle-icon {
    border-radius: 50%;
}
.icon-text {
    color: #fff;
    font-size: 12px;
    text-align:center;
}



/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Foldit', cursive;*/