:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color:#848487 ;
    --light-bg: #FFF;
    --separator-color:#DDD ;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: dimgrey ;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    width: 100%;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}
.top-nav {
    background: var(--light-bg);
    padding: 10px;
}
nav {
    display: flex;

    padding: 1rem 1rem;
}

.logo {
    font-family: Didot;
    font-size: 2.5rem;
    font-weight: bold;
    color: deepskyblue;
    text-stroke: 1px white;
}

.menu {
    display: flex;
    list-style: none;
}

.menu-item {
    font-family: Didot;
    font-size: 1rem;
    margin-left: 2rem;
    cursor: pointer;
    position: relative;
    color: deepskyblue; /* color of the text for headers dropdown*/
}

.menu-item:hover > div {
    color: black;
}

.menu-item:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(to bottom, #433d39, transparent);
    /*Changes color of dropdown box*/
    padding: 0.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
}

.dropdown li {
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.dropdown li:hover {
    background: linear-gradient(to bottom, black, transparent); /* changes color of dropdown box which is hovered over*/
}
.profile {
    background: var(--light-bg);
    padding: 35px;
}
.PI {
    list-style-type: none;
}
.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
    cursor: pointer;
}
.btn-large:hover {
    background-color: deepskyblue;
    color: white;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}
.custom-class {
    position: absolute;
    top: 280px;
    left: 50px;
    width: 200px;
    height: 200px;
}
main {
    width: 100px;
    height: 420px;
    background-color: white;
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    top: 537px;
    left: 450px;
    font-size: 12px;
}
.profile-items {
    list-style: disc;
    color: red;
}
.media-image {
    max-width: 8%;
    margin-right: 1rem;
}
.timeline .media {
    display: flex;
    align-items: center;
}
.safia {
    margin-top: 40px;
    border-bottom:1px solid darkgrey;
    padding-bottom: 15px;
}
.abdalla {
    margin-top: 50px;
}
.SA {
    font-size: 20px;
}
.little {
    transform: translateY(30px);
}
.sec {
    transform: translateY(30px);
}
.Elliot {
    margin-top: 60px;
}
.LI {
    font-size: 20px;
}

.who-to-follow {
    padding: 1rem;
    width: 400px;
    height: 550px;
    background-color: white;
    position: relative;
    left: 1480px;
    bottom: 168px;
}
.who-to-follow img {
    width
}